<!-- 单一地理编码匹配结果模板 -->
<li>
	<div>
		<div class="col-l"><a class="num-1" href="#"></a></div>
		<div class="ml">
			<h4><a href="#" title="{{result.address}}">{{result.address}}</a></h4>
			{{if result.location}}
			<ul>
				<li style="width: 140px;">经度<span>{{result.location.lon | toDecimal8}}</span></li>
				<li>纬度<br><span>{{result.location.lat | toDecimal8}}</span></li>
			</ul>
			{{/if}}
		</div>
<!-- 		<div class="coad-data-oper">
			<a class="bj" href="#"></a>
			<a class="dw" href="#"></a>
			<a class="sc" href="#"></a>
		</div> -->
	</div>
</li>
